@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&family=Outfit:wght@600&family=Roboto+Mono&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  align-items: center;
  background-color: #f5f1ed;
  font-family: 'Roboto Mono', 'Noto Sans KR', monospace;
}

#header {
  width: 100vw;
  height: 20vh;
}

#titleBox {
  width: 30vw;
  height: 15vh;
  font-family: 'Outfit', sans-serif;
  font-size: 7rem;
  text-align: center;
  color: #0d1321;
  margin: 0 auto;
}

#main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  width: 100vw;
  height: 75vh;
  overflow: hidden;
}

.slide {
  width: 100vw;
  height: 80vh;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  line-height: 80vh;
  font-size: 2rem;
  transition: opacity 0.3s ease-in-out, left 0.5s ease-in-out;
  margin-top: 17vh;
}

.slide.active {
  opacity: 1;
  left: 0;
  /* 활성 슬라이드는 왼쪽에 위치하도록 설정합니다. */
}

.slide.next {
  left: 100%;
  /* 다음 슬라이드는 오른쪽에 위치하도록 설정합니다. */
}

.slide.previous {
  left: -100%;
  /* 이전 슬라이드는 왼쪽에 위치하도록 설정합니다. */
}

.slide1 {
  background-color: #dad2bc;
  font-size: 3rem;
  color: #0d1321;
}

.slide2 {
  background-color: #70798c;
  display: flex;
}

.slide2>div:nth-child(1) {
  width: 40%;
  height: 100%;
}

.slide2>div:nth-child(1)>a>img {
  width: 100%;
  height: 100%;
  transition: filter 0.3s ease;
}

.slide2>div:nth-child(1):hover a>img {
  filter: blur(2px);
  /* 호버 시 백드롭 필터 적용 */
  cursor: pointer;
}

.slide2>div:nth-child(2) {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100%;
  font-size: 1.5rem;
  align-items: center;
  margin-top: 10vh;
}

.slide2>div:nth-child(2)>p {
  height: 10%;
  width: 100%;
  line-height: 1;
  color: #f5f1ed;
  text-align: left;
  margin-top: 5vh;
  margin-left: 15vw;
}

.slide3 {
  background-color: #dad2bc;
  display: flex;
}

.slide3>div:nth-child(1) {
  width: 40%;
  height: 100%;
}

.slide3>div:nth-child(1)>a>img {
  width: 100%;
  height: 100%;
  transition: filter 0.3s ease;
}

.slide3>div:nth-child(1):hover a>img {
  filter: blur(2px);
  /* 호버 시 백드롭 필터 적용 */
  cursor: pointer;
}

.slide3>div:nth-child(2) {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100%;
  font-size: 1.5rem;
  align-items: center;
  margin-top: 10vh;
}

.slide3>div:nth-child(2)>p {
  height: 10%;
  width: 100%;
  line-height: 1;
  color: #0d1321;
  text-align: left;
  margin-top: 5vh;
  margin-left: 15vw;
}

.slide4 {
  background-color: #70798c;
  display: flex;
}

.slide4>div:nth-child(1) {
  width: 40%;
  height: 100%;
}

.slide4>div:nth-child(1)>a>img {
  width: 100%;
  height: 100%;
  transition: filter 0.3s ease;
}

.slide4>div:nth-child(1):hover a>img {
  filter: blur(2px);
  /* 호버 시 백드롭 필터 적용 */
  cursor: pointer;
}

.slide4>div:nth-child(2) {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100%;
  font-size: 1.5rem;
  align-items: center;
  margin-top: 10vh;
}

.slide4>div:nth-child(2)>p {
  height: 10%;
  width: 100%;
  line-height: 1;
  color: #f5f1ed;
  text-align: left;
  margin-top: 5vh;
  margin-left: 15vw;
}

.slide5 {
  background-color: #dad2bc;
  display: flex;
}

.slide5>div:nth-child(1) {
  width: 40%;
  height: 100%;
}

.slide5>div:nth-child(1)>a>img {
  width: 100%;
  height: 100%;
  transition: filter 0.3s ease;
}

.slide5>div:nth-child(1):hover a>img {
  filter: blur(2px);
  /* 호버 시 백드롭 필터 적용 */
  cursor: pointer;
}

.slide5>div:nth-child(2) {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100%;
  font-size: 1.5rem;
  align-items: center;
  margin-top: 10vh;
}

.slide5>div:nth-child(2)>p {
  height: 10%;
  width: 100%;
  line-height: 1;
  color: #0d1321;
  text-align: left;
  margin-top: 5vh;
  margin-left: 15vw;
}

button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.navbar {
  background-color: #333;
  text-align: left;
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  overflow-x: hidden;
  transition: 0.5s;
}

.navbar a {
  margin: 15px;
  text-decoration: none;
  font-size: 1.2em;
  color: white;
  display: block;
  transition: 0.3s;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.menuIcon {
  font-size: 2em;
  cursor: pointer;
  padding: 15px;
  color: black;
}


#darktoggleButton {
  position: absolute;
  top: 40px;
  right: 20px;
  background-color: bisque;
  border-radius: 10%;
  color: #333;
  width: 100px;
  height: 50px;
}

.dark-mode {
  background-color: #757373;
}

#loginForm,
#loggedInUserId {
  display: flex;
  flex-direction: column;
  width: 10vw;
  height: 15vh;
  padding: 1vw;
  position: relative;
  left: 380px;
  top: 3vw;
  background-color: rgba(250, 235, 215, 0.563);
  border-radius: 1vw;
}

#signupBtn {
  position: relative;
  right: -15vw;
  top: 13vh;
  background-color: rgba(192, 186, 179, 0.563);
  width: fit-content;
}

#loginBtn {
  background-color: rgba(192, 186, 179, 0.563);
  width: fit-content;
  margin-top: 5.5vh;
}