*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
#root{
  display: flex;
  width:100vw;
  height:100vh;
  flex-direction: column;
}
#header{
  display: flex;
  width:100vw;
  height:20vh;
  justify-content: center;
  align-items: center;
}
#titleBox{
  display: flex;
  width:20vw;
  height:20vh;
  font-size: 300%;
  background-color: #568444;
  justify-content: center;
  align-items: center;
  font-family: 'Staatliches', cursive;
  font-size: 6em;
  text-align: center;
  color: white;
  text-shadow: 5px 5px #2D63A7;
  margin: 0
}
#main{
  width:100vw;
  height:70vh;
}
#footer{
  width:100vw;
  height:10vh;
}